.container {
  display: grid;
  background-color: #DCDCDC;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

@media all and (min-width: 600px) {

}

@media all and (min-width: 800px) {

}

.user-profile{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
