
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-tz-primary: mat-palette($mat-indigo);
$angular-tz-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-tz-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$angular-tz-theme: mat-light-theme($angular-tz-primary, $angular-tz-accent, $angular-tz-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-tz-theme);

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

.btn {
  display: inline-block;
  background: white;
  color: black;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: 1px solid #DCDCDC;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 5px;
  height: 40px;

  &:disabled {
    background: #ccc;
    color: #000;
    cursor: not-allowed;
  }
}

.card {
  padding: 1rem;
  max-width: 465px;
}

input,
select,
textarea {
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  border-radius: 5px;
}

hr {
  margin: .5rem 0;
}

