<div class="user-profile">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          User Profile
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
      <form class="card" [formGroup]="form" (ngSubmit)="addUser()">
        <div>

        <div class="nameEmail">
          <div class="form-group">
            <input id="name" placeholder="Login Name" formControlName="name"
            />
          </div>
          <div class="form-group">
            <input type="any" placeholder="Email" formControlName="email"
            />
          </div>
        </div>

          <div class="password">
          <div class="form-group">
            <input type="any" placeholder="Password" formControlName="password"
            />
          </div>
          <div class="form-group">
            <input type="any" placeholder="Confirm password" formControlName="confirmPassword"
            />
          </div>
          </div>
          <div class="form-group">

              <ng-container>
              <button class="btn" type="submit" [disabled]="form.invalid">Add User</button>
            </ng-container>

              <ng-container>
                <button class="btn" type="submit" (click)="clear()">Clear</button>
              </ng-container>

          </div>
        </div>
      </form>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="second-column">
    <app-user-permissions class="user-permissions" [currUser]="currUser || newUser"></app-user-permissions>
    <app-effective-permissions class="effective-permissions" [currGroup]="currGroup || newGroup"></app-effective-permissions>
  </div>
  <app-group-memberships class="group-memberships" [currUser]="currUser || newUser"></app-group-memberships>
</div>


